{% extends "index.html" %}
{% load static %}
{%block title%}Product Details{%endblock%}
{% block content %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <p>{{ product.price }}</p>
        <p>{{ product.status }}</p>
        <a href="{% url 'newApp:product' product.id %}" 
            style="display:inline-block; 
          background-color:#28a745; 
          color:white; 
          padding:10px 20px; 
          text-decoration:none; 
          border-radius:5px;">
            Buy Now
        </a> 
{% endblock content %}